name: Build and release

on:
  push:
    tags:
      - '*.*.*'

jobs:
  build:
      uses: ./.github/workflows/build_artifacts.yml
  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v6
      - name: Downloads artifacts
        uses: actions/download-artifact@v6
        with:
          path: bin
      - name: Create draft release
        uses: softprops/action-gh-release@v2
        with:
          files: bin/*/ok-gpg-agent-*
          draft: true