name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Install libusb
      run: sudo apt update && sudo apt install libusb-1.0-0-dev libusb-1.0-0
    - name: Check
      run: cargo check
    - name: Run tests
      run: cargo test
